.form-wrapper
    .form-header
        background: #3e7;
        padding-left: 70px;
        line-height: 65px;
        height: 65px;
        
    .back-link
        display: block;
        width: 65px;
        height: 65px;
        margin-top: -65px;
        border-right: 1px solid #333;
        cursor: pointer;
        font-size: 60px;
        text-align: center;
        color: #333;
        text-decoration: none;
    
    .form
        margin: 30px 10px 0;
        max-width: 400px;
        border: 1px solid #333;
        border-radius: 10px;
        padding: 15px;
        .field-name
            margin-top: 10px;
            &:first-child
                margin-top: 0
            &.image
                margin-bottom: 100px;
                
        .field-input
            width: 100%;
            margin-top: 3px;
            padding: 5px;
            outline-color: #8fb;
            &.content
                height: 150px;
                resize: none;
            &.image
                margin-top: -97px;
                padding: 0;
                max-width: 250px;
                vertical-align: top;
        .image-preview
            max-width: 115px;
            max-height: 100px;
            margin-top: -97px;
            vertical-align: top;
        .submmit-button
            display: block;
            margin-top: 5px;
            width: 100px;
            height: 70px;
            background: #3e7;
            border: 0;
            transition: background 200ms;
            cursor: pointer;
            outline-color: #8fb;
            &:hover,
            &:focus
                background: #2d6;